@charset "UTF-8";

section#conteudo{
	width: 1000px;
	margin: auto;
}

iframe#frame-spec{ /* especificações */
	width: 370px; /* altura */
	height: 280px; /* largura */
	border: none; /* tirar borda */
	overflow: hidden; /* evita que rolagem aconteça */

}

iframe#frame-spec::-webkit-scrollbar{
	display: none;

}